.container{
    width:90%;
    height:calc(100vh - 120px);
    position:fixed;
    z-index:2000;
    overflow-y: auto;
}
.innerContainer{
    height:2000px;
    background:green;
}
@media(max-width:600px)
{
    .container{
        height:80vh;
    }
}
