.container{
    width:90%;
    height:700px;
    position:fixed;
    overflow-y: auto;
}
.innerContainer{
    height:2000px;
    background:green;
}
@media(max-width:600px)
{
    .container{
        height:80vh;
    }
}