.container{ 
    width:50%;
    height:170px;
    box-shadow:0px 0px 2px 0px rgba(0,0,0,0.19);
    background:white;
    margin:5px;
    cursor:pointer;
}
.image{
    width:100%;
    height:100px;
    height:auto;
   display:flex;
   justify-content:center;
}
.image img{
    height:100px;
}
.caption{
    height:40px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.caption p{
    font-weight:bold;
}
.actionHolder{
    height:70px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    padding: 10px;
}
.styleContainer{
    width:80%;
    min-height:200px;
    box-shadow:0px 0px 2px 0px rgba(0,0,0,0.19);
    background:white;
    margin:5px;
    cursor:pointer;
    display:flex;
    position:relative;
}
.styleCardLeft{
    width:100%;
    height:200px;
    display:flex;
}
.styleCardLeft img{
    width:100%;
    height:200;
    object-fit: cover;

}
.styleCardRight{
    padding:10px;
    position:absolute;
    color:white;
    bottom:0;
    background:black;
}


/* measure card */

.measureCard{
  width:100%;
  min-height:120px;
  box-shadow:0px 0px;
  box-shadow:0px 0px 2px 0px rgba(0,0,0,0.19);
  background:white;
}
.measureHeader{
    height: 50px;
    padding:10px;
    font-weight:bold;
}
.measureInputs{
    display:flex;
    padding: 5px;
    justify-content:space-around;
}
