@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&display=swap');
/* *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
} */

.main {
  padding: 10px;
  position: fixed;
  right: 0%;
  width: calc(100% - 240px);
  height: 100%;
  overflow-y: auto;
}
.dashboard {
  height: 100vh;
}
.Info{
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 8px;
  font-size: 25px;
  margin-bottom: 8px;
}
/* .Login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.RegisterPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
