.dashNav {
    display: flex;
    justify-content: space-between;
    padding: 2px 18px;
    background-color: white;
    color: #002966;
    align-items: center;
    width: 100%;
    font-size: 19px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
  }
  .dashNavLinks {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    align-items: center;
  }
  .dashNavLinks p {
    padding: 2px 8px;
  }
  .dashboardPhoto{
    height: 30px;
    border-radius: 80px;
  }
  .dashbordTitle:hover{
    cursor: pointer;
  }
  .dashNavLinks p:hover{
    cursor: pointer;
  }
