.projectCards {
    display: flex;
    font-size: 19px;
    flex-wrap: wrap;
  }
  .projectCard {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    align-items: center;
    margin: 5px;
    margin-right: 25px;
    margin-top: 25px;
    height: 8rem;
    color: #002966;
    border-left: 5px solid #002966;
    border-radius: 10px;
  }
  .cardsImage {
    font-size: 50px;
  }
  .stats{
    display:flex;
    flex-direction: column;
  }
  .new{
    color: darkgreen;
    font-weight: bold;
  }
