@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.mainContainer{
    padding: 20px 100px;
}

.container{
    padding: 50px 100px;
}
.maintitle{
    color: #000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}
.title{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.form{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
}

.container input{
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    color: #111827;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
}

.container button{
    background: #000;
    color: #fff;
    margin: 20px 0px;
    border-radius: 5px;
    padding: 10px 20px;
}
.label{
    font-size: 7px;
    text-align: center;
}
.label2{
    display: none;
}

@media (max-width: 480px){
    .mainContainer{
        padding: 10px 30px;
    }
    .container{
        padding: 50px 30px;
    }
    .form{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
}