@media (max-width:1100px) and (min-width:800px)
 {
     .headerText h1{
         font-size:3rem;
     }
     .headerSubText{
      margin-left:0rem;
     }
 }
 @media (max-width:800px)
 {
     .headerText h1{
         font-size:3rem;
     }
     .headerSubText{
      margin-left:0rem;
     }
     .spaceContent p{
         font-size:1rem;
     }
 }


 @media (max-width:500px)
 {    
     .headerText h1{
         font-size:2.4rem;
     }

     .navbar{
        padding: 5px 10px;
     }
     .logoContainer{
         width:100px;
         height: 70px;
     }
     .menuContainer{
        position: relative;
         width:60%;
         display:flex;
         justify-content:flex-end;
     }
     .menuContainer button{
        width:140px;
        height: 40px;
        margin-top:15px;
        font-size: 12px;
     }

     .headerSubText button{
        padding:10px;
        width:150px;
        border-radius:30px;
        font-size: 15px;
      }
     .menuContainer span{
         display:none;
     }
     .spaceContainer{
         height:auto;
     }
     .spaceContent{
         min-height:50px;
         margin: 0px;
     }
     .spaceTitle{
         display:flex;
         justify-content:center;
         align-items: center;
         height:50px;
     }
     .spaceContent p{
         font-size:1rem;
     }
     .styleContent{
         display:flex;
         min-height:100px;
         justify-content:center;
         align-items:center;
         margin-bottom: 15px;
     }
     .styleImage1,.styleImage2,.styleImage3{
         height:250px;
     }
     .mar5
     {
         margin-top:0.5rem;
     }
     .styleContent h4{
         width:100%;
         text-align: center;
     }

     .containerTwo .services .sTitle{
        font-size: 22px ;
    }
 }