.container{
   min-height:760px;
   background: url("../public/assets/header-intro.jpg");
   background-position:center center;
   background-size: contain;
   
}
.navbar{
    background:transparent;
    height:60px;
    z-index:100;
    color:white;
    cursor: pointer;
}
.logoContainer{
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.logoContainerImg{
    width: 100px;
    height: 100px;
}
.menuContainer{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    padding-right:3rem;
}
.menuContainer button{
    padding:7px;
    width:150px;
    border-radius:22px;
    border:1px solid transparent;
    margin-right:2rem;
    font-weight: bold;
    background-color:white;
    text-transform: uppercase;
}
.navbar:hover{
    background-color:white;
    color:black;
}
.navbar:hover >.menuContainer button{
  background-color:#e59400;
}
.headerContainer{
    min-height:300px;
    margin-top:1rem;
}
.headerText{
  height:300px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
  color:white;

}
.headerText h1{
    font-size:6rem;
}
.headerSubText{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-left:-2.6rem;
    color:white;
    margin-top:10px;
}
.spaceContainer{
    background:#fff;
    min-height:300px;
    margin-top:1rem;
}
.spaceTitle{
    height:40px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.spaceContent{
    min-height:350px;
   display:flex;
   justify-content: center;
   padding-left:3rem;
   padding-right:3rem;
}
.spaceContent p{
    font-size:3rem;
    font-weight:lighter;
    font-family: 'Times New Roman', Times, serif;
}
.showStyleContainer{
    min-height:700px;
}
.mar5
{
    margin-top:5rem;
}
.styleImage{
    height:700px;
    background-size: cover;
    background-image: url("../public/assets/style.jpg");
}
.styleContent{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.styleContent p{
    width:60%;
    margin-top:1rem;
}
@media (max-width:800px)
{
    .headerText h1{
        font-size:3rem;
    }
    .headerSubText{
     margin-left:0rem;
    }
    .spaceContent p{
        font-size:1rem;
    }
}
