.loginFormContainer{
    width: 50%;
    text-align: center;
    padding: 10px;
  }
  .loginButton {
    background: #002966;
    border: 1px solid transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    width: 40%;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-left: 10px;
    color: white;
    margin-top: 10px;
  }
  .flexIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .errorMessage{
    color: red;
    font-size: smaller;
  }
  
