@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
.mainContainer{
    padding: 25px 100px;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.container{
    height: 500px;
    width: 40%;
    background-color: #fff;
    margin: 80px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mainTitle{
    font-size: 30px;
    margin: -20px auto 20px auto ;
}

.form{
    height: 40%;
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}

.box1{
    border: 2px solid #d6d3d1;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    padding: 0px 2px;
    display: flex;
}


.input{
    color: #000;
    border: none;
    height: 32px;
    width: 100%;
    outline: none;
    font-size: 14px;
    padding: 0px 20px;
}

.input::placeholder{
    color: #000;
}

.text{
    color: #475569;
    font-size: 17px;
    align-self: center;
    margin-right: 6px;
}

.text1{
    color: #475569;
    font-size: 15px;
    align-self: center;
    margin-right: 6px;
}

.button{
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
}